body, html{
  height:100%;
  font-family: 'Press Start 2P', cursive;
}
body{
  margin: 0px;
  background-color:#6F85FF;
  font-size: 18px;
  background-image: url("src/Resources/backgroundclear.jpg");
  background-position: center bottom;
  background-repeat: repeat-x;
}
body, a:link, a:visited, a:active{
  color: white;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.toggleTitleButton, .toggleTextButton{
  padding:5px 12px;
  float:right;
}

.moveMiddleButton{
  padding:5px 12px;
  float:right;
}

.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  position:absolute;
}

.superHackDancer {
  position:absolute;
  min-height: 583;
  min-width: 236;
}
.textDancer {
  position:absolute;
}
