body, html{
  height:100%;
  font-family: 'Press Start 2P', cursive;
}

body{
  margin: 0px;
  background-color:#637AFF;
  font-size: 18px;
  background-image: url("src/Resources/backgroundclear.jpg");
  background-position: center bottom;
  background-repeat: repeat-x;
}
body, a:link, a:visited, a:active{
  color: white;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.toggleTitleButton, .toggleTextButton{
  padding:5px 12px;
  float:right;
}

.lineupButton{
  padding:5px 12px;
  float:right;
}

.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  position:absolute;
}

.superHackDancer {
  position:absolute;
  height: 236px;
  width: 583px;
}

.textDancer {
  position:absolute;
}

.marioDancer {
  height: 66px;
  width: 36px;
}

.scorebar {
  position: relative;
  left:20px;
  top:10px;
}

.authors {
  position: relative;
  left:82%;
  top:0px;
}

.bulletDancer{
  position: absolute;
}



